@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

/****** General ***********/
* {
    font-family: 'Syne', sans-serif !important;
    font-weight: 400;
}

:root {
    --primary-color: #DC9F96;
    --light-primary-color: #E0B9B4;
    --dark-primary-color: #D2776A;
    --bg-color: #ECE2DA;
    --secondary-color: #3B8E46;
    --bt-order-hover: #C02E44;
}

body {
    display: flex;
    justify-content: center;
    margin:0;
}

div#wrapper {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    background-color: white;
}

section {
    padding: 4.688rem;
    margin:0 !important;
}

h1,h2, h3, h4 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.375rem;
}

h2 {
    font-weight: 700;
    font-size: 1.875rem;
}

p {
    line-height: normal;
} 


.wp-element-button {
    padding: 20px 55px;
    font-size: 0.938rem;
    font-weight: 400;
    color:white;
    border-radius: 5px !important;
    border:none;
    background-color: var(--light-primary-color);
}

.wp-element-button:hover {
    background-color: var(--bt-order-hover);
}

a {
    color: inherit;
    text-decoration: none;
}

header, footer {
    font-size: 1rem;
}

:root :where(.is-layout-constrained) > * {
    margin-block-start: 0;
    margin-block-end: 0;
}
:root :where(.is-layout-flex) {
    gap: 0;
}

/****** Header ***********/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul li, header nav ul li a {
    display: inline-block;
}

header nav ul li a {
    padding: 1.875rem;
    
}
header nav ul li.bt-commander-nav a {
    padding: 1.875rem 3.75rem;
}

header nav ul li.bt-commander-nav a:hover {
    background-color: var(--bt-order-hover);
}

.bt-commander-nav {
    margin-left: 1.875rem;
    font-weight: 700;
    color: #ffffff;
    background-color: var(--primary-color);
}
#branding {
    padding-left: 2.313rem;
}

/****** Accueil ***********/

.custom-accueil h1, .custom-accueil h2 {
    color: var(--secondary-color);
    text-align: center;
}

.custom-accueil section.top {
    height: 905px;
    padding-top:7.188rem;
    background-image: url(../images/canette-planty.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: 65px;
    background-color: var(--bg-color);
}

.custom-accueil section.energie-plantes p {
    margin-top: 45px !important;
    font-size:1.25rem;
}

.custom-accueil section.gouts {
    background-color: var(--bg-color);
}

.custom-accueil section.gouts h3 {
    color: var(--dark-primary-color);
    font-weight: 800;
    font-size:1.875rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.custom-accueil section.gouts p {
    font-size:1.25rem;
}

.custom-accueil section.gouts figure.wp-block-gallery {
    width:816px;
    margin:48px auto;
}

/****** Nous rencontrer ***********/







/****** Commander ***********/


#page-commander {
    color:white;
    background-color: var(--secondary-color);
    padding: 0;
}

#page-commander h1 {
    margin-bottom: 4.688rem;
}

#page-commander h2 {
    text-align: left;
    margin-bottom: 2.5rem;
}

#page-commander label {
    display: block;
    font-size:1.25rem;
}

#page-commander #infos-livraison p {
    margin-bottom: 2.5rem;
}

#page-commander form input {
    font-family: 'Inter', sans-serif !important;
    font-size: 1rem;
    font-style: normal;
    border:none;
}

#page-commander #produits input {
    margin-top:0.938rem;
    height: 56px;
    width:39px;
    text-align: center;
}

/* affichage spin button produit */
#page-commander input[type="number"]::-webkit-inner-spin-button,
#page-commander input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: auto;
    appearance: auto;
    opacity: 1;
}

#page-commander #infos-livraison input {
    width: 383px;
    height: 71px;
    border-radius: 5px;
    padding: 20px;
}

#page-commander form {
    width: 860px;
    margin: 0 auto;
}

#page-commander form section {
    padding: 2.813rem 0 0 0;
}

#page-commander #votre-commande {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#page-commander #produits {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-commander .produit {
    width: 192px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

#page-commander #produits img {
    width: 100%;
    height: auto;
}

#page-commander #infos-livraison {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
}

/* filet vertical */
#page-commander #infos-livraison::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #ffffff; /* Le filet */
    transform: translateX(-50%);
    margin-top: 2.813rem;
    margin-bottom: 2.5rem;
}

#page-commander #infos, #page-commander #livraison {
    width: 383px;
}

#page-commander #commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#page-commander .wpcf7-spinner {
    display: none !important;
    visibility: hidden !important;
}

/****** Footer ***********/

footer {
    text-align: center;
    padding: 1.875rem;
}